[Unit]
Description=3G Modem Configurator
After=network.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/env bash {{ home_folder }}/{{ project_folder }}/iface-poller.sh

[Install]
WantedBy=multi-user.target
