[Unit]
Description=3G Modem Configurator
After=network.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/env bash {{ ansible_env.HOME }}/{{ project_folder }}/iface-poller.sh
StandardOutput=file:{{ ansible_env.HOME }}/{{ project_folder }}/iface-poller.log
StandardError=file:{{ ansible_env.HOME }}/{{ project_folder }}/iface-poller.err.log

[Install]
WantedBy=multi-user.target
